*{ margin:0px; padding:0px;}
ul li{ list-style-type:none;}
a{ text-decoration:none; font-size:12px; color:#000; font-family:"宋体";}
html,body{ width:100%; height:100%; background:#eef3e5;}

.condent{ width:95%; height:auto; margin:0 auto;}
.condent_top{ width:100%; height:32px;}
.condent_top_left{ float:left; width:286px; height:30px; background:url(../images/pic/condent_top_bg.png); margin-top:2px;}
.condent_top_left p{ margin-left:55px; color:#fff; line-height:30px;}
.condent_top_right{ float:right; width:auto; height:32px;}
.condent_top_right a{ display:block; height:20px; width:65px; border-radius:5px; background:url(../images/pic/button_bg.png); margin-top:6px; border:1px solid #a7d3bd; color:#496e4b; text-align:center; line-height:20px;}
.condent_bottom{ width:100%; height:auto; border:1px solid #d2e3b7; background:#fff; box-shadow:2px 2px 5px #d2e3b7;}
.condent_bottom_condent{ width:70%; height:auto; margin:0 auto;}

.condent_bottom_condent p{ text-align:center; font-weight:bold; font-size:14px; margin-top:20px;}
.condent_bottom_condent_img{ margin:30px 0px;}
.condent_bottom_condent_img img{ width:80%; margin-left:10%;}
.condent_bottom_condent_img_pL{font-size:14px; padding-bottom:30px;}
